* {
  padding: 0;
  margin: 0;
}

html,
body #fullheight {
  min-height: 100% !important;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.container {
  height: 100%;
  background-color: black;
  margin-top: 280px;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: 39%;
}

.result span {
  margin-right: 50px;
  font-size: 120px;
  justify-self: flex-end;
}

.button {
  width: 90%;
  height: 60%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  margin: 6.5px;
}

.percent {
  background-color: #a5a5a5;
  border: none;
  color: black;
}

.item1 {
  background-color: #a5a5a5;
  border: none;
  color: black;
}

.item3 {
  background-color: #ff9f0a;
  border: none;
}

.numbers,
.comma {
  background-color: #343434;
  border: none;
}

.itemZero {
  background-color: #343434;
  width: 170px;
  border-radius: 135px;
  border: none;
}
